<div class="container mt-4">
  <button class="btn btn-link" (click)="goBack()">
    <i class="fa fa-arrow-left"></i> Volver
  </button>
  <div *ngIf="mealDetails">
    <div class="row">
      <div class="col-md-6">
        <h2>{{ mealDetails.strMeal }}</h2>
        <p><strong>Categoría:</strong> {{ mealDetails.strCategory }}</p>
        <p><strong>Área (país) de origen:</strong> {{ mealDetails.strArea }}</p>
        <h4>Ingredientes:</h4>
        <ul>
          <li *ngFor="let item of getIngredientesYMedidas()">{{ item.strIngredient }} - {{ item.strMeasure }}</li>
        </ul>
        <h4 class="">Video de preparación:</h4>
        <div class="mb-3">
          <a [href]="mealDetails.strYoutube" target="_blank">
            <i class="fa fa-youtube"></i> Ver video en YouTube
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <img [src]="mealDetails.strMealThumb" alt="{{ mealDetails.strMeal }}" class="img-fluid mb-3 rounded">
          <div class="bg-primary text-white p-2 rounded">
            <p>{{ mealDetails.strTags }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>Instrucciones de preparación:</h4>
        <p>{{ mealDetails.strInstructions }}</p>
      </div>
    </div>
  </div>
</div>
