<div class="container mt-4">
    <div *ngIf="mealDetails">
      <div class="row">
        <!-- Columna para la imagen y el tag -->
        <div class="col-md-6">
          <div class="d-flex flex-column align-items-center">
            <img [src]="mealDetails.strMealThumb" alt="{{ mealDetails.strMeal }}" class="img-fluid mb-3">
            <div class="bg-primary text-white text-center p-2 rounded">
              <p>{{ mealDetails.strTags }}</p>
            </div>
          </div>
        </div>
        
        <!-- Columna para el resto de los datos -->
        <div class="col-md-6">
          <h2>{{ mealDetails.strMeal }}</h2>
          <p>Categoría: {{ mealDetails.strCategory }}</p>
          <p>Área (país) de origen: {{ mealDetails.strArea }}</p>
          
          <!-- Ingredientes y medidas -->
          <h4>Ingredientes:</h4>
          <ul>
            <li>{{ mealDetails.strIngredient1 }} - {{ mealDetails.strMeasure1 }}</li>
            <li>{{ mealDetails.strIngredient2 }} - {{ mealDetails.strMeasure2 }}</li>
            <li>{{ mealDetails.strIngredient3 }} - {{ mealDetails.strMeasure3 }}</li>
            <!-- Continuar con los demás ingredientes y medidas -->
          </ul>
          
          <!-- Instrucciones de preparación -->
          <h4>Instrucciones de preparación:</h4>
          <p>{{ mealDetails.strInstructions }}</p>
          
          <!-- Video de YouTube -->
          <h4>Video de preparación:</h4>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="mealDetails.strYoutube"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  